.projects {
  display: flex;
  justify-content: center;
  background-color: white;
  overflow-y: auto;
  height: 100%;
}

.project-tile {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.project-tile-row {
  width: inherit;
}
