$game-button-color: #1a1a1a;
$game-button-text-color: #fff;

.boardContainer {
  display: flex;
  flex-wrap: wrap;
}

.game-of-life {
  display: flex;
  background-color: white;
  align-items: center;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 50px;
}

.game-button {
  width: 100%;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: $game-button-color;
  color: $game-button-text-color;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: transform 0.3s;
  text-align: center;
  justify-content: center;
  &:hover {
    transform: scale(1.05);
  }
}
