.main {
  display: flex;
  height: 100%;
}

.main-header {
  color: black;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  flex-grow: 0;
}

.home-header {
  font-size: 2em;
  font-weight: 1000;
  font-family: Aileron;
  width: fit-content;
}

.home-subheader {
  font-size: 1em;
  font-weight: 750;
  font-family: Aileron;
  width: fit-content;
}
