.skills-container {
  width: 100%;
  height: 500px;
  max-height: 500px;
  position: relative;
  background-color: rgba(11, 109, 19, 0.1);
}

.skill-box {
  border-radius: 8px;
  background-color: #205081;
  width: fit-content;
  height: 35px;
  text-align: center;
  position: absolute;
}

.skill-text {
  color: #fff;
  width: max-content;
  height: max-content;
  padding: 5px 10px;
  margin: auto;
}
