// .image-container {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

ul {
  padding-left: 0;
}

.projectImage {
  max-width: 100%;
  max-height: 568px;
}

.buttonStyles {
  @apply tw-bg-green-500 hover:tw-bg-green-600 tw-text-white tw-font-semibold tw-py-2 tw-px-4 tw-rounded focus:tw-outline-none focus:tw-ring focus:tw-ring-green-500 tw-mb-4;
}
