.main-background {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.main-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

.layout-row {
  height: 100%;
  position: relative;
}
