.about {
  display: flex;
  background-color: white;
  align-items: center;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.About-logo {
  height: 40vmin;
  pointer-events: none;
}

.about-tile-row {
  width: inherit;
}

.About-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.About-link {
  color: #61dafb;
}
