.personal-info {
  text-align: center;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal-card {
  position: relative;
  padding: 45px 30px;
}

.personal-content {
  margin-left: -40px;
  margin-right: -40px;
}

.personal-name {
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.personal-title {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

.reactive-hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  min-width: 150px;
  min-height: 150px;
}
