$text-color: rgb(255, 196, 0);

.sidebar {
  background-color: rgb(18, 161, 30, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1vh 0;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

a {
  text-decoration: none;
}

.personal-info {
  text-align: center;
  color: inherit;
}

.card {
  position: relative;
  overflow-y: auto;
  padding: 45px 40px;
}

.content {
  margin-left: -40px;
  margin-right: -40px;
}

.name {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.navigation {
  margin: 40px 25px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
}

.navigation-extend {
  box-sizing: inherit;
}

.navigation ul li {
  position: relative;
  padding: 0 40px;
}

.navigation ul > li {
  margin: 0;
  padding: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: #ccc;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

// .nav_list_item {
//   padding: 1rem 2rem; /* Adjust padding according to your design */
//   font-size: 1rem; /* Adjust font size according to your design */
//   text-decoration: none;

//   @media screen and (max-width: 768px) {
//     padding: 0.5rem 1rem; /* Adjust padding for smaller screens */
//   }
// }
