$text-color: rgb(255, 196, 0);

.header .desktop {
    height: 100%;
    padding: 5px 40px;
    display: flex;
    flex-direction: "row";
    flex-wrap: "wrap";
    background-color: black;
}

.option {
    display: flex;
    align-items: center;
    padding-right: 20px;
    height: 100%;
    width: 40px;
    color: $text-color; 
}

.main_option {
    display: flex;
    align-items: center;
    padding-right: 20px;
    height: 100%;
    width: 40px;
    color: $text-color; 
    margin-right: auto;
}