$text-color: rgb(255, 196, 0);

.header {
    height: 8vh;
    padding: 1vh 40px;
    font-family: "IBM Plex Sans", sans-serif;
    color: rgb(238, 238, 238);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(36, 41, 46);
}

.left_nav {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    margin-left: 1rem;
    padding-right: 1rem;
}

.nav_list {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    list-style: none;
}

.nav_list_item {
    flex: 0 0 auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(153, 153, 153);
    display: flex;
    font-size: 14px;
    height: 25px;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 16px;
    margin: 0px 1.125rem;
    text-decoration: none;
    white-space: nowrap;
}

li {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 5rem;
}