$text-color: rgb(255, 196, 0);

.sidebar {
  background-color: rgba(11, 109, 19, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1vh 0;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
}

a {
  text-decoration: none;
}

.personal-info {
  text-align: center;
  color: inherit;
}

.personal-card {
  position: relative;
  overflow-y: auto;
  padding: 45px 40px;
}

.personal-content {
  margin-left: -40px;
  margin-right: -40px;
}

.personal-name {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.personal-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.navigation {
  margin: 40px 25px;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    margin: 20px 10px;
  }
}

.navigation-extend {
  box-sizing: inherit;
}

.navigation ul li {
  position: relative;
  padding: 0 40px;
}

.navigation ul > li {
  margin: 0;
  padding: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: #ccc;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.social {
  margin: 40px 25px;
  line-height: 30px;
  position: relative;
  font-size: 14px;
}

.social-text {
  font-size: 12px;
  font-weight: 300;
  color: #aaa;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}

.social-content {
  font-size: 22px;
}

.reactive-hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
