$text-color: rgb(255, 196, 0);

.sidebar {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.sidebar-background {
  background-color: rgba(11, 109, 19, 0.8);
  @media screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}

.navigation {
  margin: 40px 25px;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    margin: 0px;
  }
}

.navigation-extend {
  box-sizing: inherit;
}

.navigation ul li {
  position: relative;
  padding: 0 40px;
}

.navigation ul > li {
  margin: 0;
  padding: 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  color: #ccc;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.reactive-hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
