.social {
  line-height: 30px;
  font-size: 14px;
}

.social-text {
  font-size: 12px;
  font-weight: 300;
  color: #aaa;
  color: rgba(255, 255, 255, 0.8);
}

.social-content {
  font-size: 22px;
  display: flex;
}

.social-content {
  & > * {
    margin-right: 12px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

a {
  color: white;

  &:hover {
    color: yellow;
  }
}

.reactive-hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
